.table {
    margin-right: auto;
    margin-left: auto;
    color: purple;
    font-size: 2.2rem;
    background-color:azure;
}


.filter{ 
    display:flex;
    justify-content:center;
    align-items:center;
    background-color:aliceblue;
}

.input {
    background-color:brown;
    color: blue;
}